.banner {
  padding: 24px 0 206px;
  background: #F5F5F7 url("../img/bg.jpg") bottom/320px no-repeat;
  margin-bottom: 40px;
}

.banner__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner__title {
  font-size: 16px;
  margin-bottom: 4px;
}

.banner__subtitle {
  font-weight: 600;
  font-size: 26px;
  text-align: center;
  margin-bottom: 24px;
}

.banner__timer {
  margin-bottom: 36px;
}

.banner__button {
  margin: 0 auto;
  padding: 16px 20px;
  border: 1px solid #70A5D5;
  border-radius: 32px;
  font-size: 14px;
  line-height: 100%;
}


@media (min-width: 768px) {
  .banner {
    padding: 60px 0 90px;
    background: #F5F5F7 url("../img/bg768.jpg") center/contain no-repeat;
  }

  .banner__content {
    max-width: 331px;
  }

}

@media (min-width: 1024px) {
  .banner {
    padding: 120px 0 160px;
    background: #F5F5F7 url("../img/bg1024.jpg") center/contain no-repeat;
  }

  .banner__content {
    max-width: 510px;
  }

  .banner__title {
    font-size: 20px;
    margin-bottom: 8px;
  }
  
  .banner__subtitle {
    font-size: 40px;
    margin-bottom: 40px;
  }
  
  .banner__timer {
    margin-bottom: 56px;
  }

  .banner__button {
    font-size: 16px;
  }

}

@media (min-width: 1440px) {
  .banner {
    background: #F5F5F7 url("../img/bg1440.jpg") center/contain no-repeat;
  }
}