.goods {
  padding: 40px 0;
}

.goods__tagline {
  text-align: center;
  margin-bottom: 4px;
}

.goods__title {
  font-weight: 600;
  font-size: 26px;
  text-align: center;
  margin-bottom: 29px;
}

.goods__block {
  position: relative;
  overflow: initial;
}


.goods__arrow {
  position: absolute;
  z-index: 5;
  top: calc(290px / 2);
  transform: translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/arrow-slider.svg");
}

.goods__arrow_prev {
  left: -10px;
}

.goods__arrow_next {
  right: -10px;
  transform: translateY(-50%) rotate(180deg);
}

@media (min-width: 768px) {
  .goods__block {
    position: relative;
    overflow-x: hidden;
  }

  .goods__arrow {
    position: absolute;
    z-index: 5;
    top: calc(340px / 2);
  }

  .goods__arrow_prev {
    left: 10px;
  }

  .goods__arrow_next {
    right: 10px;
  }
}

@media (min-width: 1024px) {
  .goods__block {
    position: relative;
    overflow-x: hidden;
  }

  .goods__arrow {

    width: 90px;
    height: 90px;
    top: calc(340px / 2);
    background-image: url("../img/arrow-slider-90.svg");
  }

  .goods__arrow_prev {
    left: 1px;
  }

  .goods__arrow_next {
    right: 1px;
  }
}

@media (min-width: 1024px) {
  .goods__arrow_prev {
    left: 18px;
  }

  .goods__arrow_next {
    right: 18px;
  }
}